/* Анимация увеличения сердечка */
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

/* Анимация вспышек */
@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
