@keyframes scale {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.35);
  }
  55% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
