* , *::before , *::after 
{ box-sizing: border-box; }


body { margin: 0; }


h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
li 
{ margin: 0; padding: 0; }
a { color: inherit; text-decoration: none; }

button, input {
padding: 0;
font: inherit;
color: currentColor;
background: none;
border: none;
}


ul, ol { list-style: none; }


.visually-hidden {
position: absolute;
inline-size: 1px;
block-size: 1px;
overflow: hidden;
clip: rect(0 0 0 0);
clip-path: inset(50%);
white-space: nowrap;
}
