.container {
margin-block-start: 27px;
}


.card__buttons {
margin-block-start: 22px;
display: flex;
justify-content: end;
gap: 4px;
}


.card__icon-button {
background: transparent;
cursor: pointer;
outline: none;
border: 2px solid transparent;
transition: border-color 0.3s ease;
}


.card__icon-button:focus-visible {
border-color: var(--color-accent);
}


.card__like-button {
padding: 11px 35px;
font-family: var(--font-accent);
font-size: 14px;
line-height: 0.9;
}


.main__save-button > svg {
width: 21px;
height: 21px;
}


.main__save-button {
display: flex;
align-items: center;
gap: 8px;
margin: 50px auto 100px;
font-family: var(--font-accent);
font-size: 14px;
line-height: 0.9;
padding: 15px 20px;
}


.dialog {
background-color: var(--bg-color);
color: var(--color-accent);
padding: 30px;
width: 357px;
border: 2px solid #000;
}


.dialog::backdrop {
background-color: var(--backdrop-color);
}


.dialog__content {
display: flex;
align-items: center;
gap: 20px;
}


.dialog__icon {
width: 39px;
height: 39px;
