:root {
  --font-primary: "Inter-Var", sans-serif;
  --font-accent: "PressStart2P", monospace;

  --font-weight-card-topic: 700;
  --font-weight-card-text: 400;

  --color-primary: #ffffff;
  --color-accent: #000000;
  --bg-color: #ffffff;
  --border-color: #000000;
  --button-border-color: #000000;
  --label-border-color: #ffffff;
  --backdrop-color: rgb(0 0 0 / 0.75);

  --title-font-size: clamp(3.0625rem, 2.71rem + 1.5vw, 4.0625rem);
  --container-width: clamp(23.4375rem, 16.28rem + 30.5vw, 43.75rem);

  --background-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --heart-contour-color: #000000;
  --heart-core-color: #ffffff;
  --heart-main-body-color: #ff0000;
  --heart-sparks-color: #ff0000;
  --heart-fill-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #00cc14;
    --color-accent: #00cc14;
    --bg-color: #000000;
    --border-color: #00cc14;
    --button-border-color: #00cc14;
    --backdrop-color: rgb(0 204 20 / 0.75);
    --heart-contour-color: #00cc14;
  }
}

@media (width <= 375px) {
  :root {
    --title-font-size: clamp(2.625rem, 0.08rem + 12.7vw, 3.0625rem);
    --container-width: 100%;
  }
}
